<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alarm.tkeel.dao.AlarmMapper">
    <select id="queryAlarmRecord" parameterType="com.alarm.tkeel.pojo.AlarmRecordParamVo" resultType="com.alarm.tkeel.pojo.AlarmRecord">
        SELECT * from tkeel_alarm_record where (0=0)
        <if test="alarmId != null">
            and alarm_id = #{alarmId}
        </if>
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        <if test="alarmLevel != null">
            and alarm_level = #{alarmLevel}
        </if>
        <if test="alarmSource != null">
            and alarm_source = #{alarmSource}
        </if>
        <if test="alarmStrategy != null">
            and alarm_strategy = #{alarmStrategy}
        </if>
        <if test="alarmStatus != null">
            and alarm_status = #{alarmStatus}
        </if>
        <if test="startTime != null">
            and start_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and start_time &lt;= #{endTime}
        </if>
        order by start_time desc
    </select>

    <update id="updateAlarmHandleOpinions" parameterType="com.alarm.tkeel.pojo.AlarmHandle" >
        update tkeel_alarm_record
        <set>
            <trim suffixOverrides=",">
                <if test="handOpinions != null">
                    hand_opinions = #{handOpinions},
                </if>
                <if test="handTime != null">
                    hand_time = #{handTime},
                </if>
                <if test="alarmStatus != null">
                    alarm_status = #{alarmStatus},
                </if>
            </trim>
        </set>
        where deleted = 0 and alarm_id = #{alarmId}
    </update>

    <insert id="createAlarmRecord" parameterType="java.util.List">
        insert into
        tkeel_alarm_record(rule_id,tenant_id,alarm_name,alarm_level,alarm_strategy,alarm_source,alarm_type,object_id,telemetry_id,start_time,alarm_status,alarm_value,alarm_desc,deleted)
        values
        <foreach collection="list" item="alarmRecords" index="index" separator=",">
            (
            #{alarmRecords.ruleId},
            #{alarmRecords.tenantId},
            #{alarmRecords.alarmName},
            #{alarmRecords.alarmLevel},
            #{alarmRecords.alarmStrategy},
            #{alarmRecords.alarmSource},
            #{alarmRecords.alarmType},
            #{alarmRecords.objectId},
            #{alarmRecords.telemetryId},
            #{alarmRecords.startTime},
            #{alarmRecords.alarmStatus},
            #{alarmRecords.alarmValue},
            #{alarmRecords.alarmDesc},
            #{alarmRecords.deleted})
        </foreach>
    </insert>

    <select id="queryAlarmCount" resultType="com.alarm.tkeel.pojo.alerts.MetricCount">
        SELECT tenant_id,COUNT(0) as `count`
        FROM  tkeel_alarm_record
        WHERE deleted  = 0 and alarm_source = 1
        GROUP BY tenant_id
    </select>

    <select id="queryAlarmLevel" resultType="com.alarm.tkeel.pojo.alerts.MetricCount">
        SELECT tenant_id,alarm_level,COUNT(0) as `count`
        FROM  tkeel_alarm_record
        WHERE deleted  = 0 and alarm_source = 1
        GROUP BY tenant_id,alarm_level
    </select>

</mapper>